.posts {
  position: relative;
  overflow: hidden;

  max-width: 100%;
  height: 100%;
  padding-top: 100px;

  letter-spacing: 0.055em;

  font-family: "Roboto", sans-serif;
  font-size: 16px;

  &__container {
    display: grid;
    @extend %container;
   
  }

  &__grid {
    display: grid;
    padding-bottom: $gap;

    // gap: $gap;
    @include lg-min {
      grid-template-areas:
        "p1 p1 p2 p3"
        "p4 p5 p6 p6";
      gap: $gap;
     
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "p1 p1 p2"
        "p3 p4 p4"
        "p5 p5 p6";
      gap: $gap;
    }
    @include md-sm {
      grid-template-columns: repeat(1fr, 1fr);
      grid-template-areas:
        "p1 p2"
        "p3 p4"
        "p5 p6";
      gap: $gap;
    }
    @include sm {
      grid-template-columns: repeat(1fr);
      grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6";
      gap: $gap;
      
    }
  }
}

@for $i from 1 through 8 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}

.post-item:nth-of-type(1) {
  grid-area: p1;
}

.post-item {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  transition: background-color 0.5s;
  &:hover {
    background-color: #d8d8d8;
    h3,
    p {
      color: $color-primary;
    }
    .post-item__image img {
      transform: scale(1.1);
    }
  }

  &__link {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 300px 1fr;
  }

  &__image {
    display: flex;

    @extend %size;
    overflow: hidden;

    img {
      transition: transform 0.5s;
      width: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    display: grid;
    align-content: center;
    padding: $gap;
    background-color: $color-light 10%;
  }
}

h3 {
  font-family: $font-header;
  letter-spacing: 0.05em;
  color: $color-gray;
  font-size: 1.15rem;
  text-align: center;
}

.text {
  display: block;

  size: 0.9625rem;
  text-align: center;
  letter-spacing: 0.007em;
  color: $color-gray;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1.125rem;

  transition: color 0.5s;
}

.posts__actions {
  display: flex;
  justify-content: center;

  @include sm {
    width: 100%;
    padding-right: $gap;
    padding-left: $gap;
  }
}
